html {
  box-sizing: border-box;

  line-height: 1.5;
  margin: 0 auto;
  font-family: "Lato", sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0 auto;
}

body {
  max-width: 25em;
  width: 100%;
  margin: 1.5em;
  background-color: #eee9de;


}

h1 {
  font-family: "Lato", sans-serif;

}

.boo {

  display: inline-block;
  max-width: 25em;

}

.booboo {

  display: inline-block;
  max-width: 25em;

}

img {
    width: 100%;
    height: auto;
    display: block;
    padding: .4em .75em .5em;
    max-width: 369px;
    margin-top: 2em;
}

p {
  color: #666;
  text-align: left;
  padding: .4em .75em .5em;
}

h2 {
  padding: .4em .75em .5em;
}

nav li {
  font-weight: bold;
  font-size: 1.125rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-family: none;
  padding: .4em .75em .5em;

}



a:hover {
  color: #b42885;
  background-color: #f33;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.4em 0.75em 0.3em;
  background-color: #eee9de;
  border-radius: 8px;
  border: 0;
  color: #333;
  text-decoration: none;
  border: .1em solid #333;
  text-align: left;
}
.btn-alt {
  background-color: #333
  ;
}
