html {
  box-sizing: border-box;

  line-height: 1.5;

  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #eee9de;
  text-align: center;
}

h1 {
  font-family: Lato, sans-serif;
}

.boo {
  padding: 1em;
  text-align: left;
  vertical-align: middle;

  display: inline-block;
  max-width: 25em;
}

.booboo {
  text-align: left;
  padding: 1em;
  vertical-align: middle;

  display: inline-block;
  max-width: 25em;
}

section {
  padding: 2em 0;

}

img {
  width: 100%;
  display: block;
}

p {
  color: #666;
  text-align: left;
  margin: 0 0 1.5rem;
}

h2 {
  margin: 0 0 1.5rem;
}

a:hover {
  color: #b42885;
  background-color: #f33;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #eee9de;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  border: .1em solid #333;
  text-align: left;
}
